<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cronograma de Pagos</title>
</head>
<body>
    <h1>Cronograma de Pagos</h1>
    <ul>
        {% for cronograma in cronogramas %}
            <li>Mes: {{ cronograma.mes }} - Valor Total: {{ cronograma.valor_total }}</li>
        {% empty %}
            <li>No hay cronogramas disponibles.</li>
        {% endfor %}
    </ul>
    <h2>Pagos para el cronograma: {{ cronograma.mes }} - Valor total: {{ cronograma.valor_total }}</h2>
<table>
    <thead>
        <tr>
            <th>Nombre del Pago</th>
            <th>Fecha del Pago</th>
            <th>Valor</th>
            <th>Estado</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
        {% for pago in pagos %}
        <tr>
            <td>{{ pago.nombre_pago }}</td>
            <td>{{ pago.fecha_pago }}</td>
            <td>{{ pago.valor_pago }}</td>
            <td>{{ pago.estado_pago }}</td>
            <td>{{ pago.tipo_pago }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No hay pagos asociados a este cronograma.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>
